h1, h2, h3, h4, h5, p, span {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 62px;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

p, span {
    font-size: 21px;
}

header {
    background-color: #2c3e50;
    color: white;
}

header h2 {
    font-weight: bold;
    padding-bottom: 10px;

}

section {
    padding-top: 50px;
}


.pac {
    padding: 7px 0;
    font-size: 14px;
}

.pac span {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
button{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #1abc9c;
    border: none;
    padding: 6px 12px;
    vertical-align: text-top;
}

div[class^="col"] {
    padding: 24px;
}

#btnmenu {
    width: 120px;
}

.men {
    padding-top: 14px;
}

.green {
    background-color: #1abc9c;
    color: white;
}

.white {
    background-color: #ffffff;
    color: #2c3e50;
}

.white [class^="col-"] {
    position:relative;
}

.hov-img {
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    border-radius: 5px;
    position: absolute;
    top: 24px;
}

.hov-img span {
    color: rgba(0, 0, 0, 0.0);
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.hov-img:hover {
    background-color: rgba(26, 188, 156, 0.9);
}

.hov-img:hover span {
    color: white;
}


.blue {
    background-color: #2c3e50;
    color: White;
}

.dblue {
    background-color: #1a252f;
    color: white;
}

#pcur {
    max-width: 240px;
}


.linea {
    width: 100px;
    height:4px;
    border-radius: 50px;
    background-color: white;
    margin: 20px 5px;
    display: inline-block;
}

.glyphicon-star {
    transform: translateY(-6%);
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
}



.white img {
    border-radius: 10px;

}

.white .linea {
    background-color: #2c3e50;
}

#freeD {
    border: 1px solid white;
}

input {
    width: 100%;
    height: 100px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #e9ecef;
    border-left: 0;
    font-size:25px;
}

#message {
    height: 300px;
}

form button {
    color: white;
}
